node_modules/
typechain/
env.json
deployments/deploy_logs
.tmp-addresses*.json
data/gmxMigration
data/esGmxDistribution
data/bonds
data/batchSend
data/nft
data/snapshotBalance
data/holders
flattened
distribution-data*.json
yarn-error.log
cache_forge
out



#Hardhat files
cache
artifacts

#IDE
.idea/*
